{% extends "base_template.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}


<div class="admin-container">

    <h1 class="admin-title">Administration</h1>

    <div class="admin-grid">

        <a href="{{ url_for('admin.list_posts') }}" class="admin-card">
            <h2>Posts</h2>
            <p>Create, edit and delete blog posts.</p>
        </a>

        <a href="{{ url_for('admin.list_users') }}" class="admin-card">
            <h2>Users</h2>
            <p>Manage registered users and permissions.</p>
        </a>
        <a href="{{ url_for('admin.list_content') }}" class="admin-card">
            <h2>Content</h2>
            <p>Manage Site Text</p>
        </a>
        <a href="{{ url_for('admin.contacts') }}" class="admin-card">

            <h2>Contact Messages</h2>
            <p>Manage contact requests</p>

        </a>

    </div>

</div>

{% endblock %}
