/* ===========================
   DESIGN SYSTEM
=========================== */

:root{

    --primary:#142C66;
    --primary-light:#2E63CC;

    --background:#F4F7FB;

    --surface:#FFFFFF;

    --text:#24334D;
    --text-light:#6C7A89;

    --border:#DCE3EE;

    --shadow:0 10px 30px rgba(0,0,0,.08);

    --radius:16px;
}


/* ===========================
   GLOBAL
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:var(--background);

    color:var(--text);

    font-family:"Inter",sans-serif;

    line-height:1.6;

    font-size:16px;
}

main{

    max-width:1400px;

    margin:auto;

    padding:40px;
}

img{

    display:block;

    max-width:100%;
}

a{

    color:inherit;

    text-decoration:none;
}

h1,h2,h3,h4{

    color:var(--text);

    font-weight:700;

    margin-bottom:15px;
}

p{

    color:var(--text-light);
}
