.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 50px;

    background:var(--primary);

    box-shadow:var(--shadow);
}

.navbar-left,
.navbar-right{

    display:flex;

    align-items:center;

    gap:30px;
}

.logo img{

    height:65px;

    width:auto;
}

.navbar a{

    color:white;

    font-weight:600;
}

.navbar a:hover{

    color:var(--primary-light);
}

.username{

    color:#8EB7FF;

    font-weight:700;
}
