.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 40px;

    background:#0b2341;
    color:white;

    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.navbar-left,
.navbar-right{
    display:flex;
    align-items:center;
    gap:25px;
}

.logo{
    display:flex;
    align-items:center,
}

.logo img{

    height:55px;
    width:auto;

    display:block;

    transform:transform .25s ease;
}

.logo:hover img{

    transform:scale(1.03);
}

.navbar a{

    color:white;

    text-decoration:none;

    font-weight:500;

    transition:.25s;
}

.navbar a:hover{

    color:#d7b56d;
}

.username{

    color:#d7b56d;

    font-weight:bold;
}
