<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <!--- Base --->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <!--- Layout --->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <!--- Components --->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">

    <!--- Pages --->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

    <!--- Effects --->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="navbar-left">

        <a href="{{ url_for('public.index') }}" class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Akebulan International Consulting">
        </a>

     </div>

     <div class="navbar-right">

         <a href="{{ url_for('public.index') }}">
             Home
         </a>

        {% if current_user.is_anonymous %}

            <a href="{{ url_for('auth.login') }}">    
                Login
            </a>
            <a href="{{ url_for('auth.show_signup_form') }}">
                Register
            </a>

        {% else %}

            {% if current_user.is_admin %}
                <a href="{{ url_for('admin.index') }}">
                    Admin
                </a>

            {% endif %}

            <span class="username">
                {{ current_user.name }}
            </span>

            <a href="{{ url_for('auth.logout') }}">
                Logout
            </a>
    {% endif %}

 </div>

</nav>

<main>

{% block content %}{% endblock %}

</main>

<script>

window.addEventListener("scroll", function(){

    const navbar = document.querySelector(".navbar");

    if(window.scrollY > 60){

        navbar.classList.add("scrolled");

    }else{

        navbar.classList.remove("scrolled");

    }

});

</script>

</body>

</html>
